<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <style>
    {{css}}
  </style>
</head>
<body class="{{theme}} loaded">
  <div class="container">
    <div class="header reader-header reader-show-element">
      <a class="domain reader-domain" href="{{url}}">{{domain}}</a>
      <h1 class="reader-title">{{title}}</h1>
      {{#byline}}
      <div class="credits reader-credits">{{byline}}</div>
      {{/byline}}
      <div class="meta-data">
        <div class="reader-estimated-time">{{readingTime}}</div>
      </div>
    </div>
    <hr>
    <div class="content">
      <div class="moz-reader-content reader-show-element">
        {{content}}
      </div>
    </div>
  </div>
</body>
</html>
